node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.DS_Store
coverage/
.vite/
apps/api/generated/
apps/web/dist/
*.tsbuildinfo
.render/
uploads/

          
     
             
             
  MOMO_TARGET_ENVIRONMENT sandbox
  MOMO_CALLBACK_SECRET    d5213860307548d4af925e2d26027625